.beneficiaries {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100px;
  padding: 8px 112px;
  position: relative;
}

.skippy {
  height: 40px;
  width: auto;
}

.list {
  display: block;
}

.list li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.55);
  margin-right: 80px;
  cursor: pointer;
}

.list li:hover {
  color: #000;
  font-weight: 800;
  text-decoration: underline;
}

.list li:last-of-type {
  margin-right: 0;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 640px;
  margin: 0 auto 0;
  padding: 0 120px;
}

.section2 img {
  border-radius: 10px;
  height: auto;
  width: 540px;
}

.info {
  margin: 0 40px;
  text-align: left;
}

.info img {
  height: auto;
  width: 80px;
}

.section2 h6,
.section3 h6 {
  color: rgba(0, 0, 0, 0.55);
  line-height: 1.3;
  margin: 16px 0;
}

.section2 h1,
.section3 h1 {
  font-size: 36px;
  font-weight: 800;
}

.section3 {
  background: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 640px;
  margin: 0px auto 0;
  padding: 0 80px;
}

.section3 img {
  border-radius: 10px;
  height: auto;
  width: 600px;
}

.footer {
  padding: 8px 80px;
  margin-top: 40px;
}
