{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 0.2%",
      "useBuiltIns": "usage",
      "corejs": "3.6"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}