.register {
  margin: auto;
  width: 50%;
}

button {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 24px;
  color: #fff;
  display: block;
  font-size: 19px;
  font-weight: 500;
  height: 40px;
  margin: 16px 0;
  padding: 2px 20px;
  width: 120px;
}

button:disabled {
  color: black;
  background-color: rgba(239, 239, 239, 0.3);
  border: rgba(118, 118, 118, 0.3);
}

input:focus {
  border: 1px solid #0084ff;
  border-radius: 10px;
  outline: none;
}

button:active {
  background-color: #0077e5;
  border: 1px solid transparent;
  opacity: 0.2;
}

button:focus {
  border: 1px solid #0084ff;
  border-radius: 24px;
  outline: none;
}