.home {
  font-family: sans-serif;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100px;
  padding: 8px 112px;
  position: relative;
}

.skippy {
  height: 40px;
  width: auto;
}

.list {
  display: block;
}

.list li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.55);
  margin-right: 80px;
  cursor: pointer;
}

.list li:hover {
  color: #000;
  font-weight: 800;
  text-decoration: underline;
}

.list li:last-of-type {
  margin-right: 0;
}

.sectionone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  margin-top: 20px;
  padding: 0 120px;
}

.whatsapp {
  height: 40px;
  margin-left: 4px;
  width: auto;
}

.world {
  height: auto;
  width: 300px;
}

.heading {
  margin-top: 8px;
  max-width: 50%;
}

.heading h1 {
  font-size: 36px;
  font-weight: 800;
}

.heading h6 {
  color: rgba(0, 0, 0, 0.55);
  line-height: 1.32;
  margin: 24px 0;
}

.bold {
  font-weight: 800;
}

.heading form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.heading input {
  background: rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  height: 32px;
  margin-bottom: 12px;
  padding: 8px 16px;
  width: 320px;
}

.sectiontwo {
  background: #fafafa;
  height: 500px;
  margin: 48px auto 0;
  padding: 48px 80px;
}

.whatsappheader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectiontwo h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.methods {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
}

.methods img {
  border-radius: 10px;
  height: 180px;
  margin: 32px 0;
  width: auto;
}

.methods div {
  background: #fff;
  border-radius: 10px;
  margin: 0 32px;
  padding: 16px 16px 48px;
  width: 300px;
}

.methods h4 {
  font-weight: 600;
}

.methods h6 {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  line-height: 1.3;
  margin-top: 8px;
}

.footer {
  padding: 8px 80px;
  margin-top: 40px;
}
